*{
    
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.boxcenter{
    width: 70%;
    margin: 0 auto;
   
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 30px;
}

.mt{
     margin-top: 30px;
}

.mb10{
    margin-bottom: 10px;
}

.mr{
    margin-right: 2%;
}

.demo{
    background-color: antiquewhite;
    min-height: 100px;
}

.header{
    background-color: rgb(17, 19, 19);
    border: 1px solid rgb(93, 174, 108) ;
    border-radius: 5px;
}

.header h1{
    margin: 20px;
    font-size: 1.2vw;
} 

.menu{
    background-color: rgb(27, 29, 27);
    color: #ccc;
    border-radius: 5px;
}

.menu ul{
    
    background-color: rgb(24, 25, 25);
    padding: 5px 10px;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    font-weight: 700;
}

.menu ul li a:hover{
    color: #ccc;
    font-weight: 700;
}



.boxtrai{
    float: left;
    width: 74%;
}

.banner{
    width: 100%;
    /* min-height: 300px; */
    min-height: 250px;
    text-align: center;
}

.banner img{
    width: 100%;
    height: auto;
    /* height: 300px; */
}

.boxsp{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px solid #EEE;
    border-radius: 5px;
    margin-bottom: 20px;

}

.boxsp .img{
    min-height: 220px ;
    text-align: center;
}

.img img{
    width: 80%;
    padding-top: 10px;
     min-height: 220px; 
}

.boxphai{
    float: left;
    width: 24%;
} 


.boxtitle{
    background-color: #EEE;
    color: #333;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #ccc;
    border: 1px solid #ccc;
}

.boxcontent{
    border-left: 1px solid #ccc;
    border-right:  1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

/* Box tai khoan*/
.formtaikhoan{
    line-height: 150%;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"],
.frmcontent input[type="text"]{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
  
}

.formtaikhoan input[type="checkbox"]{
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="button"],
.frmcontent input[type="reset"]{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    background-color: #ebe597;
}

.formtaikhoan input[type="submit"]:hover,
.frmcontent  input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="button"]:hover,
.frmcontent input[type="reset"]:hover{
    background-color: #ebe597;
    cursor: pointer;
}

.formtaikhoan li a{
    text-decoration: none;
    color: rgb(78, 78, 225);
    background-color: #ebe597;
}

.formtaikhoan li a:hover{
    text-decoration: underline;
    color: red;
}

/* Menu doc*/
.boxcontent2{
    border-left: 1px solid #ccc;
    border-right:  1px solid #ccc;
    background-color: #ccc;
    min-height: 400px;
}

.menudoc ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li{
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #CCC;

}

.menudoc ul li a{
  color: #666;
  text-decoration: none;
}

.menudoc ul li:hover{
  background-color: #ccc;
}

/* Search box*/
.boxfooter{
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #b591bc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}

.searbox input[type="text"]{
    width: 100%;
    background-color: #fff;
    padding: 5px 20px;
    border: 1px solid #ccc;
}

/* Top 10 yeu thich*/
.top10 img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.top10 img:hover{
    opacity: 0.7;
}

.top10 a{
    text-decoration: none;
    color: #666;
}

.top10 a:hover{
    color: #000;
    text-decoration: underline;
}

.footer{
    background-color: rgb(215, 223, 250);
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: rgb(17, 52, 212);
    border-radius: 5px;
    padding: 20px;
}

/* ADMIN*/
.headeradmin{
    background-color: rgb(71, 181, 102);
    border: 1px solid #35bece ;
    color:aliceblue;
    border-radius: 5px;
    padding: 0 20px;
}

.headeradmin h1{
    font-size: 2vw;
}

.frmtitle{
     background-color: #73b4d0;
    border: 1px solid #ccc ;
    color: #fff;
    border-radius: 5px;
    padding: 0 20px;
}

.frmcontent{
    padding: 20px 0;
}

/* DANH SÁCH - LOẠI HÀNG  */

.frmdsloai table{
    width: 100%;
    border-collapse: collapse;
    
}

.frmdsloai table th{
    background-color: #1eafaf;
    padding: 20px;
    color: #fff;
    
   
}

/* .frmdsloai table th:nth-child(2){
    width: 30%;
    background-color: #ccc;
}

.frmdsloai table th:nth-child(3){
    width: 40%;
    background-color: #ccc;
}

.frmdsloai table th:nth-child(4){
    width: 20%;
    background-color: #ccc;
} */

.frmdsloai table td{
    padding: 10px 20px;
    border: 1px #ccc solid;
    
}

/*  */
.spct{
    text-align: center;
}


.searbox2 input[type="text"]{
    width: 100%;
    background-color: #fff;
    padding: 5px 20px;
    border: 1px solid #ccc;
}

.mauxanh {
    /* padding-right: 30px; */
    display: inline-block;
  
}
.mauxanh input[type="button"]{
    background-color: rgb(131, 205, 216);
    display: inline-block;
    color: #120303;
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
    
}
.mauxanh input[type="button"]:hover{
    background-color: rgba(142, 93, 143, 0.8);
    cursor: pointer;
    color: #fff;

    
}
.maudo {
   
    display: inline-block;
  
}
.maudo input[type="button"]{
    background-color: rgb(194, 109, 203);
    display: inline-block;
    color: #110a0a;
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
    
}
.maudo input[type="button"]:hover{
    background-color:rgba(142, 93, 143, 0.8);
    cursor: pointer;
    color: #fff;

    
}